.innerView {
  margin-top: 120px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.viewSelectionContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.verticalDivider {
  width: 2px;
  height: 35px;
  background: whitesmoke;
  margin-top: 0px;
}
